<!DOCTYPE html>
<html>
<head>
    <title>Read Manga</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ manga }}</h1>
        <h2>Chapter {{ chapter }}</h2>
	<a href="{{ url_for('list_chapters', manga=manga) }}" class="back-button">Back to Chapters</a>
        <div class="page">
            <a href="{{ url_for('read', manga=manga, chapter=chapter, page=prev_page) }}" class="previous">Previous</a>
            <img src="{{ url_for('static', filename='manga/'+manga+'/'+chapter+'/'+page) }}" alt="{{ page }}" />
            <a href="{{ url_for('read', manga=manga, chapter=chapter, page=next_page) }}" class="next">Next</a>
        </div>
    </div>
</body>
</html>

